/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt

/data/*

/addOrg3/data/*
/addOrg3/fabric-ca/org3*
!/addOrg3/fabric-ca/org3/fabric-ca-server-config.yaml

/addOrg4/data/*
/addOrg4/fabric-ca/org4/*
!/addOrg4/fabric-ca/org4/fabric-ca-server-config.yaml
!/addOrg4/fabric-ca/registerEnroll.sh

/addOrg5/data/*
/addOrg5/fabric-ca/org5/*
!/addOrg5/fabric-ca/org5/fabric-ca-server-config.yaml
!/addOrg5/fabric-ca/registerEnroll.sh
